#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "CppSearchDialogDef.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ID_CPP_SEARCH_DIALOG DIALOG 0, 0, 201, 168
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Ms Shell Dlg"
{
    AUTOCHECKBOX    "Class/Struct", ID_CHECK_CLASS, 11, 101, 55, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Union", ID_CHECK_UNION, 68, 101, 35, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Typedef", ID_CHECK_TYPEDEF, 134, 101, 42, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Function", ID_CHECK_FUNCTION, 11, 115, 43, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Member variable", ID_CHECK_MEM_VAR, 68, 115, 68, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Local variable", ID_CHECK_LOC_VAR, 134, 115, 60, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Any", ID_CHECK_ANY_KIND, 68, 129, 28, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Macro", ID_CHECK_MACRO, 11, 87, 36, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Enumeration", ID_CHECK_ENUM, 68, 87, 55, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Enumerator", ID_CHECK_ENUM_VAL, 134, 87, 52, 8, 0, WS_EX_LEFT
    GROUPBOX        "Kind", ID_GROUP_KIND, 5, 74, 189, 69, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Public", ID_CHECK_PUBLIC, 12, 51, 35, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Protected", ID_CHECK_PROTECTED, 47, 51, 47, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Private", ID_CHECK_PRIVATE, 94, 51, 38, 8, 0, WS_EX_LEFT
    GROUPBOX        "Access", ID_GROUP_ACCESS, 5, 39, 189, 29, 0, WS_EX_LEFT
    EDITTEXT        ID_NAME_PATTERN, 10, 14, 181, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    AUTOCHECKBOX    "Any", ID_CHECK_ANY_ACCESS, 133, 51, 28, 8, 0, WS_EX_LEFT
    GROUPBOX        "Name pattern", ID_GROUP_NAME, 5, 4, 189, 29, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 148, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 82, 148, 50, 14, 0, WS_EX_LEFT
}
