#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "CreateProjectDialogDef.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ID_CREATE_PROJECT_DIALOG DIALOG 0, 0, 379, 238
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "", ID_ITEMS_NAMES, WC_LISTVIEW, WS_CHILD | LVS_REPORT | LVS_EDITLABELS | WS_VISIBLE, 5, 11, 310, 201, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 324, 221, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Add", ID_ADD_BUTTON, 320, 12, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Delete", ID_DELETE_BUTTON, 320, 30, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Edit", ID_EDIT_BUTTON, 320, 48, 50, 14, 0, WS_EX_LEFT
    GROUPBOX        "Items", ID_ITEMS_GROUP, 2, 2, 373, 215, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 267, 221, 50, 14, 0, WS_EX_LEFT
}



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ID_CREATE_ITEM_DIALOG DIALOG 0, 0, 343, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Ms Shell Dlg"
{
    AUTOCHECKBOX    "Tags generation", ID_TAGS_GENERATION, 11, 46, 67, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Tags navigation", ID_TAGS_NAVIGATION, 11, 60, 67, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Includes browsing", ID_INCLUDES_BROWSING, 93, 46, 77, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "File searching", ID_FILES_SEARCHING, 93, 60, 59, 8, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 285, 63, 50, 14, 0, WS_EX_LEFT
    GROUPBOX        "Type", ID_TYPE_GROUP, 3, 34, 174, 44, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 229, 63, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Browse", ID_BROWSE_BUTTON, 285, 12, 50, 14, 0, WS_EX_LEFT
    GROUPBOX        "Path", ID_IEM_PATH_GROUP, 3, 3, 336, 28, 0, WS_EX_LEFT
    EDITTEXT        ID_ITEM_PATH, 9, 12, 270, 14, ES_AUTOHSCROLL, WS_EX_LEFT
}
