#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEOS          VOS_UNKNOWN
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0
    FILEFLAGS       0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080901B5"
        {
            VALUE "Comments", ""
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Header source switcher plugin for Notepad++"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", ""
            VALUE "LegalCopyright", ""
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "nppHeaderSourceSwitcher.dll"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "nppHeaderSourceSwitcher"
            VALUE "ProductVersion", "1.0.0.0"
            VALUE "SpecialBuild", ""
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0809, 0x01B5
    }
}
